{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css" />

<!-- favicon from https://cdn-icons-png.flaticon.com/512/281/281089.png -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/portfolio_512x512.png" />
<link rel="icon" type="image/png" href="{{ base_path }}/images/portfolio_512x512.png" sizes="512x512" />
<link rel="icon" type="image/png" href="{{ base_path }}/images/portfolio_128x128.png" sizes="128x128" />
<link rel="icon" type="image/png" href="{{ base_path }}/images/portfolio_32x32.png" sizes="32x32" />
<link rel="manifest" href="{{ base_path }}/images/manifest.json" />
<link rel="icon" href="{{ base_path }}/images/portfolio_32x32.ico" />
<meta name="theme-color" content="#ffffff" />

<!-- end custom head snippets -->